* {
    margin: 0;
    padding: 0;
}

#titulo-index{

}

#estado{

}

#navegacion {

}

#inicio {

}

#Sobre-mi {

}


#contacto {

}

#descripcion {

}

#titulo-descripcion {

}

#proyecto-destacados {

}

#pie-pagina {

}

#Sobre-mi {

}

#titulo-sobre {

}

#caja-contenido{

}

#titulo-habilidades {

}

#lista-habilidades {

}